.shopping {
  display: flex;
}

.checkout {
  margin: 40px;
}

form {
  max-width: 600px;
  margin-bottom: 150px;
}

.order-container {
  display: flex;
}

.order-container-fields {
  position: relative;
  margin: 0px 15px 20px 0px;
  width: 100%;
}

.order-label {
  position: absolute;
  top: 0px;
  left: 3px;
}

.order-input {
  height: 40px;
  background-color: rgb(238, 238, 238);
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 1em;
  padding: 10px 0px 0px 5px;
}

.cta-checkout {
  background-color: #faab42;
  border: none;
  font-size: 1em;
  padding: 7px 30px;
  text-transform: uppercase;
  border-radius: 10px;
  color: white;
}

.product-header,
.product-header-js {
  display: flex;
}

.product-header h4,
.product-header-js {
  margin-right: 40px;
}

.product {
  font-size: 0.8em;
}

.product-quantity {
  display: flex;
}
