.img-general {
  width: 100%;
  display: block;
}

.home-new-collection {
  background-image: url(../images/before-climbing.jpg);
  min-height: 50vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  min-width: 100%;
}

.home-new-collection__content {
  position: absolute;
  text-align: center;
  bottom: 20px;
  right: 20px;
  font-size: 0.7em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  height: 150px;
  width: 300px;
}

.cta-homepage {
  color: #103867;
  font-size: 1.5em;
  padding: 5px 30px;
  text-transform: uppercase;
  border: solid #103867 2px;
  border-radius: 20px;
  background-color: white;
}

.shop-by-category {
  position: relative;
}

.shop-by-category__content {
  position: relative;
}

.shop-by-category__content-info {
  position: absolute;
  text-align: center;
  bottom: 0px;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.7);
  height: 140px;
  width: 100%;
}

.test-container {
  position: relative;
}

.test-img {
  width: 100%;
}

.test-tekst {
  position: absolute;
  bottom: 0px;
  color: #103867;
  font-size: 1.5em;
  padding: 5px 30px;
  text-transform: uppercase;
  border: solid #103867 2px;
  border-radius: 20px;
  background-color: white;
}
