.jackets-details {
  margin: 0px 20px 300px 0px;
}

.jacketContainer img {
  height: 400px;
}

.jacketContainer p {
  font-size: 0.8em;
}

.jacketDescription {
  margin: 0px 0px 0px 30px;
}

.add-to-cart {
  background-color: green;
  color: white;
  border: 1px solid green;
  padding: 15px 20px;
  border-radius: 5px;
}

.add-to-cart:hover {
  background-color: white;
  color: green;
  border: 1px solid green;
  transition: 0.5s;
}

.shopping-bag-active {
  color: green;
}
