.jacketContainer {
  margin: 0px 20px 200px 0px;
}

.jacketContainer img {
  height: 400px;
}

.jacketContainer p {
  font-size: 0.8em;
}

.jacketDescription {
  margin: 0px 0px 0px 30px;
}

.add-to-cart {
  background-color: green;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
}
