.productsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.products {
  border: 1px solid;
  padding: 10px;
  margin: 20px;
}

.products img {
  width: 100%;
}

/* .jackets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  margin: 0px 20px 150px 20px;
}

.jackets-container {
  display: flex;
  flex-direction: column;
  flex-basis: 21%;
  position: relative;
  margin: 10px;
  border: 1px solid lightgrey;
  padding: 10px;
}

.jackets-container h3 {
  font-size: 0.9em;
}

.jackets-container:hover {
  background-color: #103867;
  color: white;
  transition: 0.5s;
} */
