.listofjackets-background-img {
  background-image: url(../images/people-mountain.jpg);
  min-height: 35vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  margin: 20px 0px 40px 0px;
}

.listofjackets-background-title {
  font-size: 3em;
  font-weight: 100;
  margin: 0px;
  position: absolute;
  left: 30px;
  bottom: 80px;
}

.jackets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  margin: 0px 20px 150px 20px;
}

.jackets-container {
  display: flex;
  flex-direction: column;
  flex-basis: 21%;
  position: relative;
  margin: 10px;
  border: 1px solid lightgrey;
  padding: 10px;
}

.jackets-container h2 {
  font-size: 0.9em;
}

.jackets-container h3 {
  font-size: 0.7em;
}
