@media (max-width: 599px) {
  .nav-ul {
    display: flex;
    align-items: center;
    padding: 0px;
    list-style-type: none;
    display: none;
    width: 100%;
  }

  .nav-ul.show {
    display: flex;
    flex-direction: column;
  }

  .nav-ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }

  .hamburger {
    background-color: transparent;
    border: 0;
    color: black;
    font-size: 2em;
    cursor: pointer;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .hamburger {
    display: none;
  }

  .nav-ul li {
    display: inline;
    padding: 10px;
  }

  .logo {
    height: 40px;
  }

  .contact,
  form,
  .about,
  .message-success {
    margin: 50px auto;
  }

  .home-new-collection__content {
    font-size: 0.8em;
    bottom: 50px;
    height: 140px;
    width: 370px;
  }

  .home-text {
    font-size: 1.4em;
    width: 200px;
  }

  .productsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .listofjackets-background-title {
    font-size: 5em;
    bottom: 65px;
  }

  .jackets-container h2 {
    font-size: 1.1em;
  }

  .jackets-container h3 {
    font-size: 0.9em;
  }

  .jackets {
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  }

  .listofjackets-background-img {
    background-position-y: top;
  }

  /* .jacketspesific-first-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
  } */

  .jacketContainer {
    display: flex;
    margin: 0px 20px 200px 0px;
  }

  .jacketDescription {
    margin: 60px 0px 0px 30px;
  }

  .cart-page,
  .total,
  .shoppingbag-h1 {
    max-width: 600px;
    margin: 50px auto;
  }

  .buttonContainer {
    max-width: 600px;
    margin: 10px auto 200px auto;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}

@media (min-width: 900px) {
  .hamburger {
    display: none;
  }

  .nav-ul li {
    display: inline;
    padding: 10px;
  }

  .logo {
    height: 40px;
  }

  .contact,
  form,
  .about,
  .message-success {
    margin: 50px auto;
  }

  .home-new-collection__content {
    font-size: 1em;
    bottom: 70px;
    right: 60px;
    height: 170px;
    width: 450px;
  }

  .category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0px 100px 0px;
  }

  .category-container {
    margin: 50px 20px;
  }

  .listofjackets-background-title {
    font-size: 6em;
    bottom: 55px;
  }

  .jackets {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }

  .listofjackets-background-img {
    background-position-y: -120px;
  }

  .productsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .jackets-container h2 {
    font-size: 1.1em;
  }

  .jackets-container h3 {
    font-size: 0.9em;
  }

  .jacketspesific-first-box,
  .jacketspesific-second-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .jacketspesific__about {
    width: 400px;
    margin: 35px 5px;
  }

  .jacketContainer {
    display: flex;
    margin: 0px auto 200px auto;
    max-width: 900px;
  }

  .jacketDescription {
    margin: 60px 0px 0px 30px;
  }

  .cart-page,
  .total,
  .shoppingbag-h1 {
    max-width: 600px;
    margin: 50px auto;
  }

  .buttonContainer {
    max-width: 600px;
    margin: 10px auto 200px auto;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }
}
