@media (max-width: 599px) {
  .header-links__big-screen {
    display: none;
  }

  .hamburger-links {
    display: none;
  }

  #hamburger-menu {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }

  .fa-bars {
    margin-right: 80px;
  }

  .hamburger-links ul {
    list-style-type: none;
    list-style-type: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    margin: 20px -172px;
    width: 300px;
    padding: 20px 0px;
    text-transform: uppercase;
  }

  .hamburger-links-link {
    padding: 10px 10px 15px 30px;
  }

  .hamburger-links-link:hover {
    color: red;
  }

  .img-about-us {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .img-about-us__climbing {
    display: none;
  }

  .about-us__text {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .header-links__big-screen {
    display: none;
  }

  .hamburger-links {
    display: none;
  }

  #hamburger-menu {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }

  .fa-bars {
    margin-right: 80px;
  }

  .hamburger-links ul {
    list-style-type: none;
    list-style-type: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    margin: 20px -170px;
    width: 300px;
    padding: 20px 0px;
    text-transform: uppercase;
  }

  .hamburger-links-link {
    padding: 10px 10px 15px 30px;
  }

  .hamburger-links-link:hover {
    color: red;
  }

  .home-new-collection__content {
    font-size: 0.8em;
    bottom: 50px;
    height: 170px;
    width: 350px;
  }

  .instagram-text {
    font-size: 1.1em;
  }

  .pushing-the-comfort-zone__content {
    font-size: 4em;
  }

  .fa-instagram,
  .fa-facebook-f,
  .fa-snapchat-ghost,
  .fa,
  .fas {
    font-size: 1.4em;
  }

  .fa-chevron-right {
    font-size: 0.7em;
  }

  .listofjackets-background-title {
    font-size: 5em;
    bottom: 65px;
  }

  .listofjackets-jackets {
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  }

  .listofjackets-jackets__name-price {
    font-size: 1em;
  }

  .listofjackets-jackets__description {
    font-size: 0.8em;
  }

  .listofjackets-select__type {
    font-size: 0.9em;
    height: 25px;
    width: 80px;
  }

  .listofjackets-background-img {
    background-position-y: top;
  }

  .img-about-us {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .img-about-us__climbing {
    display: none;
  }

  .about-us__text {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .checkout {
    margin: 0px 50px;
  }

  .jacketspesific-first-box {
    display: flex;
    justify-content: center;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}

@media (min-width: 900px) {
  .header-links__small-screen {
    display: none;
  }

  .header-links__big-screen {
    display: inline;
    margin-right: 80px;
  }

  .header-links {
    padding: 0px 15px;
    font-size: 1.1em;
  }

  .home-new-collection__content {
    font-size: 1em;
    bottom: 70px;
    right: 60px;
    height: 210px;
    width: 450px;
  }

  .shop-by-category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .shop-by-category__content {
    margin: 50px 20px;
  }

  .instagram-text {
    font-size: 1.4em;
  }

  .img-instagram__container {
    width: 10%;
  }

  .pushing-the-comfort-zone__content {
    font-size: 4em;
  }

  .footer-links {
    font-size: 0.9em;
  }

  .fa-instagram,
  .fa-facebook-f,
  .fa-snapchat-ghost,
  .fa,
  .fas {
    font-size: 1.4em;
  }

  .fa-chevron-right {
    font-size: 0.7em;
  }

  .listofjackets-background-title {
    font-size: 6em;
    bottom: 55px;
  }

  .listofjackets-jackets {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    margin: 0px 50px;
  }

  .listofjackets-select {
    margin: 0px 60px;
  }

  .listofjackets-jackets__name-price {
    font-size: 1.2em;
  }

  .listofjackets-jackets__description {
    font-size: 0.9em;
  }

  .listofjackets-select__type {
    font-size: 1em;
    height: 25px;
    width: 100px;
  }

  .listofjackets-background-img {
    background-position-y: -120px;
  }

  .about-us {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .about-us__text {
    max-width: 500px;
  }

  .img-about-us {
    position: absolute;
    right: 5%;
  }

  .img-about-us__climbing {
    width: 30%;
    margin: 30px;
  }

  .checkout {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    margin: 20px 50px;
  }

  .checkout_mediaqueries {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .jacketspesific-first-box,
  .jacketspesific-second-box {
    display: flex;
    justify-content: center;
  }

  .jacketspesific__about {
    width: 400px;
    margin: 35px 5px;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }
}
