.message-sent {
    text-align: center;
    margin: 50px;
    border: solid 1px;
    padding: 30px;
}

.img__message-sent {
    height: 60px;
}

.message-sent p {
    font-size: 1.5em;
}

.cta__message-sent {
    background-color: #3AA01B;
    padding: 5px 80px;
    border-radius: 20px;
    font-size: 1.7em;
}