.cta-shopping-bag {
  background-color: #faab42;
  border: none;
  font-size: 1em;
  padding: 7px 30px;
  text-transform: uppercase;
  border-radius: 10px;
  color: white;
}

.cta-shopping-bag {
  background-color: #008a00;
  font-size: 1em;
  padding: 7px 30px;
  border-radius: 10px;
  color: white;
  border: solid 1px #008a00;
  text-transform: uppercase;
}

.cta-shopping-bag:hover {
  color: #008a00;
  background-color: white;
  border: solid 1px #008a00;
  transition: 0.5s;
}
