body {
  width: 100vw;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "PT serif", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2 {
  font-family: "PT sans", Verdana, Geneva, Tahoma, sans-serif;
  color: #001026;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

header {
  margin: 30px;
}

.logo {
  height: 31px;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.nav-ul li a:hover {
  text-decoration: underline;
}

.cart {
  display: flex;
  position: relative;
  padding-bottom: 40px;
}

.cart-content {
  position: absolute;
  right: 20px;
  font-size: 1.5em;
}

.cart-content:hover {
  transform: scale(1.4);
}

.wheremAmI-container li {
  display: inline;
}

.wheremAmI-container li a {
  padding-right: 10px;
}

.wheremAmI-container ul li a:hover {
  text-decoration: underline;
}

.wheremAmI {
  text-decoration: none;
  color: grey;
}

footer {
  background-color: #f0f0f0;
  padding: 30px 40px;
  margin-top: 300px;
  font-family: "PT Serif", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
}

.footer-container {
  margin-bottom: 40px;
}

.footer-container p {
  margin: 2px;
}

.footer-container h3 {
  font-size: 1em;
}

.footer-links__link {
  list-style-type: none;
  text-decoration: underline;
  padding: 5px;
  display: block;
}

.fa-grip-lines-vertical {
  color: #103867;
  padding-right: 10px;
}

.fa-instagram,
.fa-facebook-f,
.fa-snapchat-ghost {
  padding: 5px;
  font-size: 1.2em;
}

.footer-links__link a:hover {
  color: white;
}

.footer-links__link:hover,
.fa-instagram:hover,
.fa-facebook-f:hover,
.fa-snapchat-ghost:hover {
  background-color: #103867;
  transition: 0.5s;
  color: white;
}

a:active {
  text-decoration: underline;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #103867;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 20%;
  transform: translateX(-50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
