body {
  width: 100vw;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1 {
  font-size: 2em;
}

h1,
h2 {
  font-family: "avenir", Verdana, Geneva, Tahoma, sans-serif;
  color: #001026;
}

h3,
a,
p {
  font-family: "PT serif", Verdana, Geneva, Tahoma, sans-serif;
  color: #191c20;
}

a {
  text-decoration: none;
  color: #001026;
}

.header-links {
  display: inline-block;
  padding: 5px 15px 5px 15px;
  border: solid #3c67a3 1px;
  margin: 5px;
  background-color: white;
  width: 60px;
  text-align: center;
  border-radius: 10px;
}

.header-links:hover,
.header-links-ekstra:hover,
.cta-homepage:hover,
.footer-links a:hover {
  font-weight: bold;
}

.fa-search:hover,
.fa-shopping-bag:hover {
  color: black;
}

ul {
  padding: 0px;
}

li {
  display: inline;
}

.logo {
  width: 200px;
}

header,
footer {
  background-color: #f7f7f7;
  width: 100%;
}

.header-first-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 0px 20px;
}

.fa-search {
  padding-right: 15px;
}

.fa-search,
.fa-shopping-bag {
  color: #f7ad1e;
}
.header-second-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-third-line {
  display: none;
}

.navigation {
  display: flex;
  align-items: center;
  margin: 10px;
  font-size: 0.8em;
}
.fa-chevron-left {
  margin: 0px 15px 0px 0px;
}

.fa-chevron-right {
  margin: 5px;
  font-size: 0.7em;
}

.navigation__active {
  font-weight: bold underline;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  margin: 10px 20px 10px 20px;
  font-size: 0.7em;
  text-decoration: underline;
}

.footer-some {
  padding: 0px 10px;
}
.fa-instagram,
.fa-facebook-f,
.fa-snapchat-ghost {
  padding: 0px 10px;
}
